<?xml version="1.0"?>
<configuration>
 <connectionStrings>
    <add name="ConnectionStr" connectionString="Data Source=mimas.itds.unt.edu;Initial Catalog=Student4720;Persist Security Info=True;User ID=StudentUser;Password=10nrszMoc1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off">
      
    </customErrors>
    <authentication mode="Forms"/>
    <compilation debug="true"/>
  </system.web>
</configuration>